<div class="ui fluid search selection multiple dropdown" id="{{html_id}}" >
    <input type="hidden" name="{{name}}" value="{{current_ids}}" />
    <i class="dropdown icon"></i>
    <div class="default text">{{ field.help_text}}</div>
    <div class="menu">
        {% for option in options %}
            <div class="item" data-value="{{ option.1 }}">{{ option.0 }}</div>
        {% endfor %}
    </div>
</div>