{% load crispy_forms_field %}
{% load semantic_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="field {% if wrapper_class %} {{ wrapper_class }}{% endif %}">
    {% endif %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="field{% else %}class="ui checkbox{% endif %}{% if field.field.required %} required{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}">
                {{ field.label|safe }}
            </label>
        {% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include 'semantic_ui/layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_select %}
            {% include 'semantic_ui/layout/select.html' %}

        {% endif %}

        {% if field|is_radioselect %}
            {% include 'semantic_ui/layout/radioselect.html' %}
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect and not field|is_select %}
            {% if field|is_checkbox and form_show_labels %}
                {% crispy_field field 'class' 'checkbox' %}
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">
                    {{ field.label|safe }}
                    {% include 'semantic_ui/layout/help_text_and_errors.html' %}
                </label>
            {% else %}
                {% crispy_field field %}
                {% include 'semantic_ui/layout/help_text_and_errors.html' %}
            {% endif %}
        {% endif %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        </div>
    {% endif %}
{% endif %}
