{% load crispy_forms_filters %}
{% load l10n %}

<div class="{% if field.field.widget.attrs.class %}{{ field.field.widget.attrs.class }} {% endif %}fields {{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% include 'semantic_ui/layout/field_errors_block.html' %}

    {% for choice in field.field.choices %}
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
          <label class="{% if inline_class %}checkbox-{{ inline_class }}{% endif %}">
              {{ choice.1|unlocalize }}
          </label>
        </div>
      </div>
    {% endfor %}

    {% include 'semantic_ui/layout/help_text.html' %}
</div>
