{% if field.help_text %}
    {% if help_text_inline %}
        <span id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</span>
    {% else %}
        <div class="ui pointing label help" id="hint_{{ field.auto_id }}" >
            {{ field.help_text|safe }}
        </div>
    {% endif %}
{% endif %}
