{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="field {% if field.field.required %} required{% endif %} {% if form_show_errors and field.errors %} error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

        {% if field.label and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}">
                {{ field.label|safe }}
            </label>
        {% endif %}

        <div class="ui{% if crispy_appended_text %} right{% endif %} labeled input">
            {% if crispy_prepended_text %}<div class="ui {% if labeled_input_class %} {{ labeled_input_class }}{% endif %}{% if form_show_errors and field.errors %} red{% endif %} label">{{ crispy_prepended_text|safe }}</div>{% endif %}
            {% crispy_field field %}
            {% if crispy_appended_text %}<div class="ui {% if labeled_input_class %} {{ labeled_input_class }}{% endif %}{% if form_show_errors and field.errors %} red{% endif %} label">{{ crispy_appended_text|safe }}</div>{% endif %}
        </div>
        {% include 'semantic_ui/layout/help_text_and_errors.html' %}
    </div>
{% endif %}
