{% load crispy_forms_filters %}
{% load l10n %}

<div class="{{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% include 'semantic_ui/layout/field_errors_block.html' %}

    {% for choice in field.field.choices %}
      <div class="field">
            <div class="ui radio checkbox">
                <input type="radio"{% if choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
                <label>{{ choice.1|unlocalize }}</label>
            </div>
      </div>
    {% endfor %}

    {% include 'semantic_ui/layout/help_text.html' %}
</div>

