{% load crispy_forms_filters %}
{% load l10n %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="inline fields{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors and field.errors %} has-error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% include 'semantic_ui/layout/field_errors_block.html' %}

        {% if field.label %}
            <label for="{{ field.auto_id }}"  class="{{ label_class }}{% if field.field.required %} required{% endif %}">
                {{ field.label|safe }}
            </label>
        {% endif %}

        {% for choice in field.field.choices %}
          <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio"{% if choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}  class="hidden">
                    <label>{{ choice.1|unlocalize }}</label>
                </div>
          </div>
        {% endfor %}
        {% include 'semantic_ui/layout/help_text.html' %}
    </div>
{% endif %}
