{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load l10n %}

<select class="ui dropdown{% if form_show_errors%}{% if field.errors %} error{% endif %}{% endif %}{% if field.field.widget.attrs.class %} {{ field.field.widget.attrs.class }}{% endif %}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %} 
        name="{{ field.html_name }}" id="id_{{ field.html_name }}"
        {% if field.field.widget.allow_multiple_selected %} multiple="multiple"{% endif %}>
    {% include 'semantic_ui/layout/field_errors_block.html' %}

    
    {% for choice in field.field.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} selected="selected"{% endif %}>{{ choice.1|unlocalize }}</option>
    {% endfor %}

    {% include 'semantic_ui/layout/help_text.html' %}
</select>

