{% load widget_tweaks %}


<div class="field{% if field_width %} {{ field_width }}{% endif %}{% if item.errors %} error{% endif %}">
    {{ item.label_tag }}
    {% render_field item class=class %}
    {% if item.errors %}
    <div class="ui pointing red label">
        {% for error in item.errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}
</div>
